
build/Desktop_Qt_5_15_2_GCC_64bit-Debug/

ASMOHQ-master (simple model)/

*.vsidx

ASMOHQ/.vs/ASMOHQ/v17/ipch/AutoPCH/7de74d357ddffe44/

*.ipch

ASMOHQ/ASMOHQ/x64/Debug/

ASMOHQ/ASMOHQ/x64/Release/

ASMOHQ/.vs/ASMOHQ/v17/

build/Desktop_Qt_6_8_2-Debug/.qtc_clangd/.cache/clangd/index/

build/Desktop_Qt_6_8_2-Debug/.qtc_clangd/

ASMOHQ.pro.user.bff072c

ASMOHQ.pro.user
